@model IList<DiffInfo>
@{
    var commitLogEntry = (LogEntry)ViewBag.CommitLogEntry;

	/* rg from commit 0da1158f7ee54687b6afc25219ffdd36db011b19 */
	Func<char, string> diffLineStyle = c =>
	{
		switch (c)
		{
			case '+':
				return "diff-line-add";
			case '-':
				return "diff-line-remove";
			case ' ':
				return "diff-line-context";
			default:
				return "diff-line-info";
		}
	};
	
    ViewBag.Title = "View Commit";
}

@section headers
{
    <script src="@Url.Content("~/Scripts/jquery.timeago.min.js")"></script>
    <script>
        $(function () {
            $("div.date").timeago();
        });
    </script>

	<!-- rg style hacks -->
	<style type="text/css">
		ol.linenums li
		{
			text-shadow: none;
		}

		pre.prelinediff {
			border: none;
			background: none;
			margin: 0px;
			padding: 0px;
		}

		.diff-line-info {
			display: block;
			margin-top: 10px;
			border-top: solid 1px #ccc;
			border-bottom: solid 1px #ccc;
		}
	</style>
}

@Html.Partial("LogEntry", commitLogEntry, new ViewDataDictionary { { "Details", true } })

@foreach (var diff in Model.OrderByDescending(d => d.Deleted || d.Added).ThenBy(d => d.DestinationFile))
{
    if (!diff.Deleted)
    {
        <div class="pull-right">@Html.ActionLink("view file", "ViewBlob", new { repo = (string)ViewBag.RepoName, @object = commitLogEntry.Tree, path = @diff.DestinationFile })</div>
    }
    <div>
        <i class="@(diff.Added ? "icon-plus" : diff.Deleted ? "icon-minus" : diff.Renamed || diff.Copied ? "icon-refresh" : "icon-file")"></i> /@diff.DestinationFile
        @if (diff.Renamed)
        {
            @:(renamed from /@diff.SourceFile)
        }
        else if (diff.Copied)
        {
            @:(copied from /@diff.SourceFile)
        }
        else if (diff.Added)
        {
            @:(added)
        }
        else if (diff.Deleted)
        {
            @:(deleted)
        }
    </div>
    if (!diff.Deleted && !diff.Added)
    {
        <div class="prettyprint">
			<!-- rg from commit 0da1158f7ee54687b6afc25219ffdd36db011b19 -->
			
				@foreach (var line in diff.Lines)
				{				
					<pre class="prelinediff prettyprint"><span class="diff-line @diffLineStyle(line[0])">@Html.Raw(Html.Encode(line).Replace("\t", "   "))</span></pre>
				}
            
        </div>
    }
	<br />
}
